.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(153, 197, 207);
    
    
}

.pagination .selected {
    background-color: rgb(14, 14, 153);
    color: white;
}

.pagination button{
 margin: 0px 5px;
 padding:0px 10px;
 border-radius: 5px;
}